*{
    box-sizing: border-box;
}

body{
    text-align: center;
}

input, label{
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

input{
    border: none;
    border-bottom: 2px solid red;
}

#submit_btn{
    width: 10%;
    height: 7vh;
    font-weight: bold;
    margin: 20px;
    border-radius: 10px;
    font-size: 1rem;
}

@media screen and (max-width:360px) {
    input{
        padding-left: 0;
        padding-right: 0;
    }

    #submit_btn{
        width: 30%;
        float: left;
    }
}